.title-match {
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 32px;
}

.container-previous-matchs, .container-next-matchs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 210px;
    margin-right: 210px;
    border: 2px solid #151e2d;
    margin-top: 10px;
    background-color: #ff1541;
    border-radius: 5px;
}

.container-previous-matchs p, .container-next-matchs p{
    width: 250px;
    text-align: center;
}
.container-previous {
    padding-bottom: 100px;
}
.container-next {
    padding-top: 300px;
    height: 87vh;
    background: url('../../assets/parc-des-princes.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid red;
}

.container-previous img, .container-next img {
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.date-match {
    color: white;
    font-weight: bold;
}

.score-match {
    color: white;
    font-weight: bold;
}
.container-previous-matchs .score-separation, .container-next-matchs .score-separation {
    width: min-content;
    color: white;
    font-weight: bold;
}

.bg-previous {
    padding-top: 82px;
    width: 100vw!important;
    border-bottom: 2px solid #ff1541;
    margin: 0!important;
}

.title-match-previous {
    text-align: center;
    font-size: 32px;
}

.div-countdown h1 {
    text-align: center;
    color: red;
    font-style: italic;
    font-size: 38px;
    margin-top: 0;
}

.div-countdown {
    margin: 0 auto;
    background-color: #151e2d;
    opacity: 85%;
    width: 750px;
    padding: 50px;
    padding-right: 30PX;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 20px;
    color: white;
}

.announce {
    display: flex;
}

.container-next h2 {
    color: black;
    padding-top: 70px;
}

.secondary-container-next {
    padding-bottom: 100px;
    padding-top: 170px;
}

.flip-countdown-card {
    margin-right: 20px;
}

.flip-countdown-title {
    margin-left: -15px;
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
    .container-previous-matchs, .container-next-matchs {
        width: 600px;
        margin: 20px auto;
    }

    .div-countdown {
        margin-top: 250px;
        width: 500px;
    }

    .container-next {
        background-position: center;
        padding-top: 100px;
    }

    .secondary-container-next {
        padding-top: 0;
    }
}