.container-home {
    z-index: 1;  
    margin-bottom: 60px;
}

.container-home img{
    z-index: 1;
}

.bg-home {
    width: 100vw;
    margin-top: 50px;
}

.main-sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-sponsor img{
    height: 120px;
}

.secondary-sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(230, 228, 228);
    padding-bottom: 10px;
}

.secondary-sponsor img {
    height: 80px;
    margin-right: 40px;
    margin-left: 40px;
}

.home-palmares {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(243, 240, 240);

}

.home-table-palmares {
    border-spacing: 20px 10px;
    margin-left: 20px;
}

.home-table-palmares th{
    text-align: start;
}

.img-palmares {
    height: 320px;
    margin-right: 20px;
}

.div-palmares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.home-presentation {
    font-size: 32px;
    text-align: center;
}

.img-home-club {
    width: 100%;
}

.home-secondary-presentation {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}