@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;}

.container-nav {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #151e2d;
    height: 80px;
    position: fixed;
    width: 97vw;
    border-bottom: 2px solid #ff1541;
    z-index: 10;
}

.nav-logo {
    margin-top: 10px;
    z-index: 2;
}

.title-nav h1 {
    color: white;
    font-style: italic;
    text-shadow: 4px 0 #00ecff, 0 -4px 0 #ff1541;
    font-size: 42px;
    align-items: flex-end;
    margin-top: 16px;
    margin-bottom: 0;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-menu p {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 8px;
    color: white;
    font-size: 16px;
}
.nav-menu p:hover {
    color: #ff1541;
}

.container-nav a {
    text-decoration: none;
}

.nav-menu a:hover {
    transform: scale(1.1);
    color: #ff1541;
}

.admin-icon {
    height: 30px;
    margin-left: 20px;
    padding-bottom: 5px;
    margin-right: 25px;
    
}

.admin-icon:hover {
    background-color: red;
    border-radius: 50%;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 5px;
    border: 1px solid white;
}
