.container-stadium {
    text-align: center;
    margin-bottom: 100px;
}

.bg-stadium {
    width: 100vw;
    border-bottom: 2px solid #ff1541;
}

.div-access {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 215, 215);
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.div-access iframe{
    margin-left: 50px;
}

.presentation-stadium {
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
}