.container-footer {
    background-color: #151e2d;
    height: 80px;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #ff1541;
    position: relative;
}

.container-footer img {
    width: 30px;
    margin: 20px;
}