.container-footer {
    background-color: #151e2d;
    height: 60px;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid #ff1541;
    position: relative;
}

.container-footer img {
    width: 40px;
}